.git
.gitignore
.gitmodules
*Dockerfile*
*docker-compose*
.env
.env.*
node_modules
dist
*.md
*.log
.vscode
.cursor
.DS_Store
.husky
.eslintrc.js
.eslintignore
.prettierrc.js
commitlint.config.js
test
__tests__
*.test.ts
*.spec.ts
coverage
.turbo
CHANGELOG.md
LICENSE
SECURITY.md
Extras